.form-control{
	margin-bottom: 15px;

}

.form-group{
	display: flex;
	justify-content: space-between;
	color: rgb(87, 158, 202);
	font-weight: bold;
}

.addBtn{
	margin: 0 auto;
	background-color: aquamarine;
	border-radius: 5px;
	border: 1px solid rgb(87, 158, 202);
}